@import '../../styles/variables.scss';

.main {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.groupImages {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    min-height: 500px;
}

.image {
    width: 200px;
    height: 300px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05)
    }

    @media (max-width: map-get($breakpoints, sm)) {
        width: 110px;
        height: 166px;
    }
}

.textdetill {
    margin: 10px 20px;
}